html
{
	background-color: #FFFFFF;
	font: 12px Arial;
}

.content
{
	border: 1px solid #C0C0C0;
	margin: auto;
	width: 1000px;
	background-color: White;
	height: auto;
}

h1
{
	color:Gray;
	font-size:18px;
	border-bottom:solid 1px orange;
}


.banner
{
	border-style: none;
}

.center
{
	border-style: none;
}

.left
{
	padding: 1px;
	float: left;
	border-right: black 1px solid;
	width: 100px;
	height: auto;
	font-family: 'Times New Roman' , Times, serif;
	font-size: large;
	font-weight: normal;
	border: 0.5px solid #99CCFF;
}

.right
{
	background-color: White;
	width: 700px;
	margin: auto;
}

.footer
{
	border-width: 1px;
	border-color: #CCCCCC;
	border-top-style: solid;
}

.picture
{
	border-style: ridge;
	width: auto;
	height: auto;
}
.warning_text
{
	color: #FF0000;
}