html
{
	background-position: center 70px;
	background-color: #FFFFFF;
	font: 14px Georgia,Serif;
	background-image: url(        'Picture/9.jpg' );
	background-repeat: no-repeat;
	vertical-align: middle;
}